body{
  overflow-x: hidden;
}

.log{

	font-family:'Open Sans', sans-serif;
	
}
.news_body{
	background-color:#ededed;
	background-position: center;
	background-size: cover;
	font-family:'Open Sans', sans-serif;
  color:#fff;
	
}
.login_content{

    width: 450px;
    height: 300px;
    position: relative;
    color: #fff;
    left: 34%;
    margin-top: 10%;
    background-color: rgb(95, 95, 95);
    border-radius: 15px;
  }

.inner_login_1{
	position: relative;
	left:90px;
	top:25px;
}
.inner_login_2{
	position: relative;
	left:190px;
	top:25px;
}
.text_box{
	border-radius: 5px;
	position: relative;
	left:15px;
}
.repeat_news{
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 0 15px;
  margin-bottom: 15px;
  padding-top: 15px;
}

.repeat_news:first-child {
  
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(6, 94, 123, 0.8);
    height: 54px;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-size: 17px;
    border-radius: 10px;
}

ul.topnav li a:hover {
background-color: #fff;
font-size: 17px;
color: #323232;
transform: scale(1.1);
}

ul.topnav li.icon {display: none;}




@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


.red{
	background-color: rgba(49, 112, 143, 0.79);
    min-height: 100px;
    border-radius: 10px;
    padding: 0px 15px 15px 15px;
    transition: all .18s ease-in-out;
    color: #fff;
    
}

.red p{
  padding-top: 10px;
}

.image_top_pad{
	padding-top: 15px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.admin_area{
	margin-left: 5%;
    margin-top: 5%;
}

 .padd_in{
  margin-top: 15px;
}
 .red:hover{
  transform: scale(1.035);

 }
 
 .search_in{
      padding-top: 10px;
 }
 .search_gly{
    padding-top: 20px;
    padding-left: 15px;
 }
 @media screen and (max-width:1100px) {

.search_in{
      visibility: hidden;
 }
.search_gly{
    visibility: hidden;
 }



 }

 .repeat_news_small{
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 15px;
  padding-top: 15px;
}



.personal_news{

    border-right-color: rgba(50, 50, 50, 0.42);
    border-right-style: solid;
    border-right-width: 1px;
    margin-top: 15px;
}
.search_button{
    position: relative;
    top: 10px;
}
.red_botton{
  background-color: #f00;
}
.pad_lef_30{
  margin-left: 30px;
}