<ul class="topnav" id="myTopnav">
  <div class="container">
    <li style="padding-left: 20px;"><a ui-sref="home.topstories">Top Stories</a></li>
    <li><a ui-sref="home.mynews">My News</a></li>
    <li><a ui-sref="home.cricket">Cricket</a></li>
    <li><a ui-sref="home.football">Football</a></li>
    <li><a ui-sref="home.health">Health</a></li>
    <li><a ui-sref="home.music">Music</a></li>
    <li><a ui-sref="home.companies">Companies</a></li>
    <li><a ui-sref="home.gadgets">Gadgets</a></li>
    <li><a ui-sref="login">Login</a></li>
    <li class="icon"> <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a> </li>
  </div>
</ul>
<div class="container" ui-view>

</div>